<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Questions</h3>
  </div>
      <ul class="list-group">
        <!--loop  through each topic association with question object-->
        <% @latest_questions.each do |question| %>
              <li class="list-group-item ">
              <span class="badge badge-related-questions"><%= question.answers.count %></span>
              <strong><%= link_to truncate("#{question.topics.first.name}: #{question.name}", length: 100, omission: '... (continued)'), question_path(question) %></strong>
             </li>
        <% end %>
      </ul>
</div>

