<!-- QUESTION TITLE -->
<h2><strong><%= question.name %></strong></h2>
<!-- QUESTION DETAILS -->
<p class="lead">
  <%= question.description %>  
  <% if policy(question).destroy? %>
    <div>
      <%= link_to "Edit this Question", edit_question_path(question),  class: 'btn btn-green', remote: true %>
    </div>
  <% end %>    
</p>

