<div class="row">
  <!--*******************************-->
  <!-- USER MAIN SIDE PANEL/NAVIGATION-->
   <!--*******************************-->
  <div class="col-md-4">
    <%= render 'stack_supplements_sidebar' %>
  </div>

  <!--*******************************-->
  <!-- MAIN BODY/ RIGHT COLUMN-->
  <!--*******************************-->
  <div class="col-md-8">
    <%= render 'stack_supplements_main' %>
  </div>
</div>
    <!-- END OF TABS -->
    