<h1>New stack_supplement</h1>

<%= render partial: 'stack_supplements/form', locals: {stack: @stack, stack_supplement: StackSupplement.new }%>

<%= link_to 'Back', stack_stack_supplements_path(@stack) %>
