<div class="row">
<!-- SIDEBAR -->
  <div class="col-md-3">
    <%= render partial: 'sidebar' %>
  </div>
  <!-- MAIN -->
  <div class="col-md-9">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#profile" data-toggle="tab">Public Profile</a></li>
      <li><a href="#settings" data-toggle="tab">Account Settings</a></li>
      <li><a href="#summary" data-toggle="tab">Summary of Activity</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="profile">
        <!--PUBLIC PROFILE SETTINGS-->
        <p><%= render partial: 'profile' %></p>
      </div>
      <div class="tab-pane fade" id="settings">
        <!--ACCOUNT SETTINGS-->
       <p><%= render partial: 'account_settings' %></p>
      </div>
      <div class="tab-pane fade" id="summary">
        <!--SUMMARY OF ACTIVITY-->
        <p><%= render partial: 'user_summary' %></p>
      </div>
    </div>
  </div>
</div>
  
