<br/>
<div class="jumbotron">
  <h1>STAKiT</h1>
  <p>Stakkit is a resource for sharing supplement stacks with your friends!</p>
  <p>
      <%= link_to "Login", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>