<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Navigation</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="/questions">
      <span class="badge pull-right"><%= Question.all.count %></span>
      Questions
    </a>
  </li>
  <li>
    <a href="#">
      <span class="badge pull-right">42</span>
      Open Questions
    </a>
  </li>
  <li>
    <a href="#">
      <span class="badge pull-right">42</span>
     Top Questions
    </a>
  </li>
   <li>
    <a href="#">
      <span class="badge pull-right">42</span>
    Answers
    </a>
  </li>
    </ul>
  </div>
</div>