<%= form_for(current_user.relationships.build(followed_id: user.id)) do |f| %>
    <div><%= f.hidden_field :followed_id %></div>
    <%= f.submit "Follow User", class: "btn btn-primary thats-me-button" %>
<% end %>