<!-- add remote: true to enable Ajax on the form -->
<%= form_for [question, answer] do |f| %>

<!-- DETERMINE PLAEHOlDER TEXT BASED UPON NUMBER OF FOLLOWERS -->

    <% if question.answers.empty? %>
      <% answer_placeholder = "Add your answer" %>
    <% end %>         

  <div class="form-group answer-form">
    <%= f.text_area :body, rows: 4, cols: 40, class: 'form-control', placeholder: "#{answer_placeholder}" %>
  </div>

  <div class="form-group">
    <%= f.submit "Add Answer", class: 'btn btn-primary' %>
  </div>
<% end %>