
<%= form_for [question, answer], remote: true do |f| %>
     <div class="form-group">
        <%= f.text_area :body, rows: 8, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "Update Answer", class: 'btn btn-primary' %>
      </div>
 <% end %>
