<h5 class="media-heading"> 
  <!-- USER NAME and INFO OF ANSWER -->
 <strong><%= link_to answer.user.name, user_path(answer.user)%></strong>
  <span class="short-bio"><%="— #{answer.user.shortbio}" if answer.user.shortbio? %></span>

  <!-- RENDER A TINY AVATAR FOR THE USER OF THIS ANSWER -->
  <%= link_to render_follower_avatar_for(answer.user), user_path(answer.user), class: 'pull-right answer-image supplement-tip', data: { toggle: :tooltip, placement: :left}, title: "#{answer.user.name} profile" %>
</h5>
