// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-time{
  color: #bbb;
  font-size: .95em;
}


.activity{
  margin-left: 2px;
  padding: 0 0 15px 5px;
  border-bottom: 1px solid #f1f1f1 !important;
}
.activity {
 &:last-child{
  border-bottom: none;
  }
}

.activity-glyph {
  padding-left: 25px;
  font-size: 1.5em;
}

.js-activities, .user-activity-panel{
  margin-top: 15px;
  padding-right: 20px;
}