/*BOOTSTRAP CUSTOMIZATIONS*/

//BOOTSTRAP COLORS
$brand-royal-blue: #3875d7;
$purple: #843ab8;
$brand-primary: #29a9eb;
  $brand-primary-hover: darken($brand-primary, 5.5%);

$brand-success: #1eb760;
  $brand-success-hover: darken($brand-success, 5.5%);

$brand-info: #ab2afd;
  $brand-info-hover: darken($brand-info, 5.5%);

$brand-warning: #ff9600;
  $brand-warning-hover: darken($brand-warning, 5.5%);

$brand-danger: #eb2949;
  $brand-danger-hover: darken($brand-danger, 15.5%);

//BASIC ELEMENT OVERIDES
body {
  //background-color: $purple;

}
a {
  color: $brand-royal-blue;
  &:hover{
    color: darken($brand-royal-blue, 8.5%);
  }
}

/*BOOTSTRAP BUTTONS*/

.btn {

}

.btn-success {
    //box shadow
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.2);
      -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.2);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.2);
    padding: .6em 1.875em;
    font-size: 1.2em;
    //border radius
    border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    //text shadow
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.btn-default {
    //border radius
    border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    //text shadow
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.2);
      -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.2);
      -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 0 5px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.2);
      -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
   }

.btn-success {
  border: 1px solid #178b49;
  background-color: $brand-success;
  &:hover{
    background-color: $brand-success-hover;
  }
}
.btn-primary {
  background-color: $brand-royal-blue;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   &:hover{
    background-color: darken($brand-royal-blue, 8.5%);
  }
}
.btn-danger {
  background-color: $brand-danger;
   &:hover{
    background-color: $brand-danger-hover;
  }
}
.btn-info {
  background-color: $brand-info;
   &:hover{
    background-color: $brand-info-hover;
  }
}
.btn-warning {
  background-color: $brand-warning;
   &:hover{
    background-color: $brand-warning-hover;
  }
}

/************* LOGIN PAGE/REGISTRATION PAGES***************/

/* //SURROUNDING BOX FOR LOGIN
.dialog-box{
  background: $purple;
  border: 1px solid rgba(0,0,0,0.2);
  margin-top: 60px;
  padding: 40px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  background-image: url("/assets/noise.png"),linear-gradient(#a648c4,#7930a7);
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  box-shadow: 0 1px 2px rgba(255,255,255,0.1),inset 0px 1px rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 1px 2px rgba(255,255,255,0.1),inset 0 1px rgba(255,255,255,0.4);
    -moz-box-shadow: 0 1px 2px rgba(255,255,255,0.1),inset 0 1px rgba(255,255,255,0.4);
}
//ERRORS on REGISTRATION AND LOGIN
#error_explanation{
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  box-shadow: 0 1px 2px rgba(255,255,255,0.1),inset 0px 1px rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 1px 2px rgba(255,255,255,0.1),inset 0 1px rgba(255,255,255,0.4);
    -moz-box-shadow: 0 1px 2px rgba(255,255,255,0.1),inset 0 1px rgba(255,255,255,0.4);
  h2{
  font-size: 1.4em;
  }

} */

//BOOTSTAP PILL NAVIGATION

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: $brand-royal-blue;
}

//BOOTSTRAP GLYPHICONS
.glyphicon {
  &:hover{
  text-decoration: none;
  }
}
//change color of stop sign glyphicons
.glyphicon-remove-circle{
  font-size: 1.2em;
  color: $brand-danger;
  &:hover{
    color: $brand-danger-hover;
  }
}



  