// Place all the styles related to the Stacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$brand-royal-blue: #3875d7;
.panel-primary > .panel-heading {
  background-color: $brand-royal-blue;
}
// supplements you're taking tags 
.pager li > a, .pager li > span {
  margin: 3px;
}

.glyphicon-circle-arrow-down{
  color: #BBB !important;
  padding-right: 3px;
  //font-size: 1.1em;
  &:hover {
    color: #999 !important;
  }
}

.glyphicon-minus-sign{
  color: #999 !important;
  padding-right: 3px;
  //font-size: 1.1em;
  &:hover {
    color: #666 !important;
  }
}

.glyphicon-plus-sign{
  color: #BBB !important;
  padding-right: 3px;
  //font-size: 1.1em;
  &:hover {
    color: #999 !important;
  }
}


.stack-privacy-btn{
  margin-right: 15px;
}


.default-tag {
  margin-right: 10px;
  color: #3875d7 !important;
  &:hover {
    color: black !important;
  }
}

.default-stack-button {
  margin-right: 10px;
  color: white !important;
  text-shadow: none !important;
  padding: 1px 7px !important;
  font-size: .75em !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  &:hover{
    text-decoration: none !important;
    background: darken($brand-royal-blue, 10%) !important;
  }
}