// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tiny-thumbnail{
padding: 2px;
border: 1px solid #dddddd;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

.user-profile-images{
  margin-bottom: 20px;
}

//USER NAV TABS
.user-nav-tabs {
  margin-bottom: 20px;
}

//USER NAV FONT WEIGHTS
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  font-weight: bold;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a, .nav-tabs > li > a:focus {
  font-weight: bold;
}

.glyph-tab-spacing {
 letter-spacing: 12px;
}

.follow-avatar{
  padding: 2px;
}

.short-bio{
  color: #555;
  font-weight: bold;
  font-size: .85em;
  font-style: italic;
}