<div class="row">
  <h1 class="page-header"><strong>Activity News Feed</strong></h1>
  <div id="js-activities">
    <%= render @activities %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate @activities %>
  </div>
</div>